[submodule "c:/Users/rod/vimfiles/bundle/fugitive"]
	path = c:/Users/rod/vimfiles/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "c:/Users/rod/vimfiles/bundle/ragtag"]
	path = c:/Users/rod/vimfiles/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "c:/Users/rod/vimfiles/bundle/git"]
	path = c:/Users/rod/vimfiles/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "c:/Users/rod/vimfiles/bundle/cd"]
	path = c:/Users/rod/vimfiles/bundle/cd
	url = git://github.com/vim-scripts/CD.vim.git
[submodule "c:/Users/rod/vimfiles/bundle/capslock"]
	path = c:/Users/rod/vimfiles/bundle/capslock
	url = git://github.com/vim-scripts/capslock.vim.git
[submodule "c:/Users/rod/vimfiles/bundle/taglist"]
	path = c:/Users/rod/vimfiles/bundle/taglist
	url = git://github.com/chrismetcalf/vim-taglist.git
[submodule "cd"]
	path = cd
	url = c:/Users/rod/vimfiles/bundle/cd
